.page-header {
	margin: 20px 0 10px;
}
/*#tab_container {
	max-width: 800px;
}*/
.big-stat {
	font-size: 1.1em;
}
.panel {
	padding: 0;
}
.media {
	margin-top: 0;
}
/*modal styles*/
.modal-body h3 {
	margin: 0;
}
.modal-body .caption {
	margin-top: 14px;
}
.img-thumbnail {
	margin-right: 10px;
}