.page-header {
	margin: 20px 0 10px;
}
/*#tab_container {
	max-width: 800px;
}*/
.tab-pane .col-sm-6{
	padding-left: 0;
}
.big-stat {
	font-size: 1.1em;
}
.panel {
	padding: 0;
}
.media {
	margin-top: 0;
}
/*modal styles*/
.modal-body h3 {
	margin: 0;
}
.modal-body .caption {
	margin-top: 14px;
}
.img-thumbnail {
	margin-right: 10px;
}
#CFR_table .tablesorter-header-inner, #CFR_table td{
	font-size: 12px;
}
